* {
    margin: 0;
    padding: 0;
}


/****************index.php CSS****************/

#m-community-container {
    background-color: #f4f4f4;
    height: auto;

}

#s-community-container {
    width: 80%;
    height: 900px;
    height: auto;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    border: 1px solid #bcbcbc;
    background-color: white;
}


#s-community-container_view {
    width: 75%;
    /* height: 525px; */
    margin: 0px auto;
    margin-top: 5px;
    padding: 20px;
    border: 1px solid #bcbcbc;
    background-color: white;
}

#commentBox{
    background-color:white;
    border:1px solid #bcbcbc;
    margin-top:1%;
}

div>#comments {
    margin-top: 1%;
    background-color: white;
    border: 1px solid #bcbcbc;
}

div>#commentText {
    margin-top: 5px;
}

div>#commentWrite {
    height: 80px;
    font-weight: bold;

}



div>.commentBoxfirst {
    background-color: #fcf7f5;
    border-top: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    box-shadow: 0 4px 0.5px -3px gray;
}

div>.commentBoxsecound {
    background-color: white;
    border: 1px solid #bcbcbc;

}





small {
    font-size: 75% !important;
    color: #777;
}

.btn-group {
    position: relative;
    margin: 10px 1px;
    display: inline-flex;
    vertical-align: middle;
}

.btn-group .btn {
    padding: 6.5px 20px !important;
}

.btn.btn-round {
    border-radius: 30px !important;
}

.btn-group .btn.btn-round {
    border-radius: 30px !important;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.btn {
    padding: 12px 30px !important;
    margin: 5px 1px;
    font-size: 12px !important;
    box-shadow: 0 2px 2px 0 hsla(0, 0%, 60%, .14), 0 3px 1px -2px hsla(0, 0%, 60%, .2), 0 1px 5px 0 hsla(0, 0%, 60%, .12);
}

.btn .material-icons {
    position: relative;
    display: inline-block;
    top: 0;
    margin-top: -1.2em;
    margin-bottom: -1em;
    font-size: 1.1rem;
    vertical-align: middle;
}

.btn.btn-sm {
    border-radius: 3px !important;
}

.btn.btn-just-icon.btn-sm {
    height: 30px;
    min-width: 30px;
    width: 30px;
}

.btn.btn-just-icon {
    font-size: 24px;
    height: 41px;
    min-width: 41px;
    width: 41px;
    padding: 0 !important;
    overflow: hidden;
    position: relative;
    line-height: 41px;
}

.btn.btn-just-icon.btn-round {
    border-radius: 50% !important;
}

.btn.btn-link {
    background: transparent;
    box-shadow: none;
    color: #999;
}



.btn.btn-success {
    color: #fff !important;
    background-color: #4caf50 !important;
    border-color: #4caf50;
    box-shadow: 0 2px 2px 0 rgba(76, 175, 80, .14),
        0 3px 1px -2px rgba(76, 175, 80, .2),
        0 1px 5px 0 rgba(76, 175, 80, .12) !important;
}

.btn.btn-success:hover {
    box-shadow: 0 14px 26px -12px rgba(76, 175, 80, .42),
        0 4px 23px 0 rgba(0, 0, 0, .12),
        0 8px 10px -5px rgba(76, 175, 80, .2) !important;
    background: #47a44b !important;
}

.btn.btn-success.btn-link {
    background-color: transparent !important;
    color: #4caf50 !important;
    box-shadow: none !important;
}

.btn.btn-danger {
    color: #fff !important;
    background-color: #f44336 !important;
    border-color: #f44336;
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, .14),
        0 3px 1px -2px rgba(244, 67, 54, .2),
        0 1px 5px 0 rgba(244, 67, 54, .12) !important;
}

.btn.btn-danger:hover {
    box-shadow: 0 14px 26px -12px rgba(244, 67, 54, .42),
        0 4px 23px 0 rgba(0, 0, 0, .12),
        0 8px 10px -5px rgba(244, 67, 54, .2) !important;
    background-color: #f33527 !important;

}

.btn.btn-danger.btn-link {
    background-color: transparent !important;
    color: #f44336 !important;
    box-shadow: none !important;
}

.btn.btn-just-icon .material-icons {
    margin-top: 0;
    position: absolute;
    width: 100%;
    transform: none;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 41px;
    font-size: 20px;
}

.btn.btn-just-icon.btn-sm .material-icons {
    font-size: 17px;
    line-height: 29px;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    background-color: transparent;
    background: transparent;
    float: left;


}

.table thead tr {
    transition: all 1s;
}

/*
.table thead tr:hover{
   
   background-color: #f0ad4e;
   transition: 0.5s;
}
*/
.table thead tr th {
    font-size: 17px;
    font-weight: 300;
}

.table>thead>tr>th {
    padding: 12px 8px;
    vertical-align: middle;
    border-color: #ddd;
    font-weight: 700;
}

.table>tbody>tr>td {
    padding: 12px 8px;
    vertical-align: middle;
    border-color: #ddd;
    font-weight: 450;
    font-size: 14px;
    color: #3c4858;
}

.table>tbody>tr>td>a:hover {
    color: orange;
    text-decoration: none;
}

.table .td-actions .btn {
    margin: 0;
    padding: 5px;
}

.table .form-check {
    margin: 0;
    padding-left: 0;
}

.table .td-total {
    font-weight: 500;
    font-size: 17px;
    padding-top: 20px;
    text-align: right;
}

.table .td-price {
    font-size: 26px;
    font-weight: 300;
    margin-top: 5px;
    text-align: right;
}

.table-shopping>thead>tr>th {
    font-size: 12px;
    text-transform: uppercase;
    color: #555;
}

.table-shopping .td-name {
    min-width: 200px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.42857143;
}

.table-shopping .td-name small {
    color: #999;
    font-size: 18px;
    font-weight: 300;
}

.table-shopping .img-container {
    width: 120px;
    max-height: 160px;
    overflow: hidden;
    display: block;
}

.table-shopping .img-container img {
    width: 100%;
}

.table-shopping>tbody>tr>td {
    font-size: 14px;
}

.table-shopping .td-number {
    text-align: right;
    min-width: 150px;
    font-size: 18px;
}

.table-shopping .td-number small {
    margin-right: 3px;
}

/* 검색버튼 */
.button {

    width: 50px;
    height: 37px;
    background-color: #f8585b;

    border: none;

    color: #fff;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    cursor: pointer;

}

#inputState{
    height: 37px;
}


/* pagination */

.Custompagination a {
    color: black;
    float: left;
    padding: 8px 12px;
    text-decoration: none;
    /* transition: background-color .3s; */
    border: 1px solid #e2e2e2;
    margin: 0 2px 2px 0px;
}

.Custompagination a:hover {
    background-color: #dd0000;
    color: white;
    border: 1px solid #e2e2e2;
    text-decoration: none;
}


/* 추천 / 수정 / 삭제 /목록 버튼  */

#sombra_fija {
    -webkit-transform: translateX(0);
}

#sombra_fija:before {
    content: '';
    position: absolute;
    width: 90%;
    top: 100%;
    left: 5%;
    height: 10px;
    background: -webkit-radial-gradient(center, ellipse,
        rgba(0, 0, 0, 0.30) 0%,
        rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.5s;
    opacity: 0;
}

#sombra_fija:hover {
    -webkit-transform: translateY(-5px);
}

#sombra_fija:hover:before {
    -webkit-transform: translateY(5px);
    opacity: 1;
}

.pnt {
    cursor: pointer;
}


.translation{
    margin-bottom:5%;
}

/* 맨 위 페이지 버튼 */
a#MOVE_TOP_BTN {
    position: fixed;
    right: 1%;
    bottom: 50px;
    display: none;
    z-index: 999;
}

/* 댓글 이동 버튼 */
a#MOVE_COMMENT_BTN {
    position: fixed;
    right: 7%;
    bottom: 50px;
    display: none;
    z-index: 999;
}



