* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
}

html {

    position: relative;

    min-height: 100%;

    margin: 0;

}

body {

    min-height: 100%;

}

.content{
    border : 1px solid #bcbcbc;
    background-color: white;
    margin-top:1%;
}




/* nav */

.main-nav-scrolled {
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .active .nav-link {
    color: #00e0d0;
}


.headcontainer {
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto;
    box-shadow: 0 4px 0.5px -4px gray;
    background-color: #ffffff;
    border: 1px solid hsl(0, 0%, 74%);
}

.home {
    width: 50%;
    align-items: center;
    padding-left: 10rem;
   
}

#home{
    font-size:21px;
    color: black;
}
#search{
    font-size:20px;
    color: black;
    margin-left:2%;
}

#bullhorn{
    font-size:20px;
    color: black;
    margin-left:2%;
}

#home:hover,
#home:active {
    color:#ea314e;
    text-decoration: none;

}
#search:hover,
#search:active {
    color:#ea314e;
    text-decoration: none;
    
}

#bullhorn:hover,
#bullhorn:active {
    color:#ea314e;
    text-decoration: none;
    
}

#searchImg{
    margin-left:2%;
}



.userInfo {
    width: 50%;
    text-align: center;
}

.userInfo>a {
    color: black;
    font-size: 12px;
    padding-right: 40px;
}

.userInfo>a:hover,
.userInfo>a:active {
    color: #045FB4;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}



/* footer */
.footer {
    background-color: #ea314e;
    height: auto;
    clear: both;
    padding: 5px;
    margin-top: 0.5%;
}

.Internationalization{
    background-color: #f6543d;
}

.copyright{
    margin-top: 3vh;
    color: white;
}

div>.copyright>a{
    color:#00e0d0;
}

div>.copyright>a:hover{
    color:orange;

    text-decoration: none;
}

footer>div>a {
    color: white;
}


footer>div>a:hover {
    text-decoration: none;
}
/*코피라이트*/
div>.copyright>a {
    color: #00e0d0;
}

/*우마루 툴팁*/
[data-tooltip-text]:after {
	-webkit-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	transition: bottom .3s ease-in-out, opacity .3s ease-in-out;

	background-color: rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
  color: #FFFFFF;
	font-size: 12px;
	margin-bottom: 10px;
	padding: 7px 12px;
	position: absolute;
	width: auto;
	min-width: 50px;
	max-width: 300px;
	word-wrap: break-word;

	z-index: 9999;

	opacity: 0;
	left: -9999px;
  /* top: 90%; */
	
	content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
	top: -3%;
	left: auto;
	opacity: 1;
}


/* 만든 사람들 소개 */

.sub{
    width: 70%;
    height:auto;
}