* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
}

html {

    position: relative;

    min-height: 100%;

    margin: 0;

}

body {

    min-height: 100%;

}

.content{
    border : 1px solid #bcbcbc;
    background-color: white;
    margin-top:1%;
}




/* nav */

.main-nav-scrolled {
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .active .nav-link {
    color: #00e0d0;
}


.headcontainer {
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto;
    box-shadow: 0 4px 0.5px -4px gray;
    background-color: #ffffff;
    border: 1px solid hsl(0, 0%, 74%);
}

.home {
    width: 50%;
    align-items: center;
    padding-left: 10rem;
   
}

#home{
    font-size:21px;
    color: black;
}
#search{
    font-size:20px;
    color: black;
    margin-left:2%;
}

#bullhorn{
    font-size:20px;
    color: black;
    margin-left:2%;
}

#home:hover,
#home:active {
    color:#ea314e;
    text-decoration: none;

}
#search:hover,
#search:active {
    color:#ea314e;
    text-decoration: none;
    
}

#bullhorn:hover,
#bullhorn:active {
    color:#ea314e;
    text-decoration: none;
    
}

#searchImg{
    margin-left:2%;
}



.userInfo {
    width: 50%;
    text-align: center;
}

.userInfo>a {
    color: black;
    font-size: 12px;
    padding-right: 40px;
}

.userInfo>a:hover,
.userInfo>a:active {
    color: #045FB4;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}



/* footer */
.footer {
    background-color: #ea314e;
    height: auto;
    clear: both;
    padding: 5px;
    margin-top: 0.5%;
}

.Internationalization{
    background-color: #f6543d;
}

.copyright{
    margin-top: 3vh;
    color: white;
}

div>.copyright>a{
    color:#00e0d0;
}

div>.copyright>a:hover{
    color:orange;

    text-decoration: none;
}

footer>div>a {
    color: white;
}


footer>div>a:hover {
    text-decoration: none;
}
