* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
}

html {

    position: relative;

    min-height: 100%;

    margin: 0;

}

body {

    min-height: 100%;

}

.content{
    border : 1px solid #bcbcbc;
    background-color: white;
    margin-top:1%;
}


.footer {
    /* position: fixed; */
    left: 0px;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background: #EE7785;
    color: white;
}


/* nav */

.main-nav-scrolled {
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .active .nav-link {
    color: #00e0d0;
}


.headcontainer {
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto;
    box-shadow: 0 4px 0.5px -4px gray;
    background-color: #ffffff;
    border: 1px solid hsl(0, 0%, 74%);
}

.home {
    width: 50%;
    align-items: center;
    padding-left: 10rem;
}

#homeImg:hover,
#homeImg:active {
    content: url('/data/ProjectImages/master/home2.png');
}

.userInfo {
    width: 50%;
    text-align: center;
}

.userInfo>a {
    color: black;
    font-size: 12px;
    padding-right: 40px;
}

.userInfo>a:hover,
.userInfo>a:active {
    color: #045FB4;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}



/* footer */
.footer {
    background-color: #ea314e;
    height: auto;
    clear: both;
    padding: 5px;
    margin-top: 0.5%;
}

footer>a {
    color: white;
}

footer>a:hover {
    text-decoration: none;
}
