.penpal-main-container{
    
    height: auto;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    border: 1px solid #bcbcbc;
    background-color: white;
}

/* penpal main page */
.penpal-list-table{
    border-left:1px solid  #bcbcbc;
    border-right:1px solid  #bcbcbc;
    border-bottom:1px solid  #bcbcbc;
    border-top:1px solid  #bcbcbc;
    box-shadow: 0 4px 0.5px -4px gray;
    margin-top:10px;
}
.penpal-list-title{
    height: 20px;
    background-color:#EDEEF2;
    border-left:1px solid  #bcbcbc;
    border-bottom:1px solid  #bcbcbc;
    box-shadow: 0 4px 0.5px -5px gray;
    padding-top:5px;
    padding-left:12px;
}


.penpal-list-content{
    
    width: 680px;
    height: 38px;
    padding-top:3px;
    padding-left:12px;
    padding-right:12px;
    border-left:1px solid  #bcbcbc;
    border-right:1px solid  #bcbcbc;
    font-size: 11px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
  
}

.penpal-list-translation{
    width: 680px;
    height: 38px;
    padding-top:4px;
    padding-left:12px;
    padding-right:12px;
    border-left:1px solid  #bcbcbc;
    border-right:1px solid  #bcbcbc;
    border-bottom:1px solid  #bcbcbc;
    box-shadow: 0 4px 0.5px -4px gray;
    color:gray;
    font-size: 11px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
}

#penpal-image-view{
    cursor:pointer;
}
#penpal-image-view:hover{
    color:#F97124;
}

#penpal-list-view{
    cursor:pointer;
}
#penpal-list-view:hover{
    color:#F97124;
}

.penpal-image-list{
    margin-top:15px;
    border:1px solid  #bcbcbc;
    box-shadow: 0 4px 0.5px -4px gray;
}
.image-list:hover{

    border:1.1px ridge #3979F4;
}

/* registration */
.penpal-registration-container{

    height: auto;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    border: 1px solid #bcbcbc;
    background-color: white;
}

.penpal-pageBox{
    margin-top:10%;
}
/* div>.commentBoxsecound {
    background-color: white;
    border: 1px solid #bcbcbc;

} */




