.penpal-main-container{
    
    height: auto;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    border: 1px solid #bcbcbc;
    background-color: white;
}

/* penpal main page */
.penpal-list-table{
    border-left:1px solid  #bcbcbc;
    border-right:1px solid  #bcbcbc;
    border-bottom:1px solid  #bcbcbc;
    border-top:1px solid  #bcbcbc;
    box-shadow: 0 4px 0.5px -4px gray;
    margin-top:10px;
}
.penpal-list-title{
    height: 20px;
    background-color:#EDEEF2;
    border-left:1px solid  #bcbcbc;
    border-bottom:1px solid  #bcbcbc;
    box-shadow: 0 4px 0.5px -5px gray;
    padding-top:5px;
    padding-left:12px;
}


.penpal-list-content{
    
    width: 680px;
    height: 38px;
    padding-top:3px;
    padding-left:12px;
    padding-right:12px;
    border-left:1px solid  #bcbcbc;
    border-right:1px solid  #bcbcbc;
    font-size: 11px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
  
}

.penpal-list-translation{
    width: 680px;
    height: 38px;
    padding-top:4px;
    padding-left:12px;
    padding-right:12px;
    border-left:1px solid  #bcbcbc;
    border-right:1px solid  #bcbcbc;
    border-bottom:1px solid  #bcbcbc;
    box-shadow: 0 4px 0.5px -4px gray;
    color:gray;
    font-size: 11px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
}

#penpal-image-view{
    cursor:pointer;
}
#penpal-image-view:hover{
    color:#F97124;
}

#penpal-list-view{
    cursor:pointer;
}
#penpal-list-view:hover{
    color:#F97124;
}

/* registration */
.penpal-registration-container{

    height: auto;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    border: 1px solid #bcbcbc;
    background-color: white;
}


/* timeline */
.timeline-main-container{
    
    height: auto;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    border: 1px solid #bcbcbc;
    background-color: white;
}


.timeline_tools{
    padding-top:1%;
    border: 1px solid hsl(0, 0%, 74%);
    box-shadow: 0 4px 0.5px -4px gray;
}

#timebutton{
    width: 100%;
    height: 100%;
}

.timeline-card{
    margin-top: 20px;
    border: 1px solid hsl(0, 0%, 74%);
    box-shadow: 0 4px 0.5px -4px gray;
}



.timeline-card-title{

    border-right: 1px solid hsl(0, 0%, 74%);
    background-color:#EDEEF2;
}
.timeline-card-date{
    border-left: 1px solid hsl(0, 0%, 74%);
    background-color:#F8F9FD;
}
.timeline-card-menu{
    background-color:#F8F9FD;
}
.timeline-card-center{
    border: 1px solid #80A4F3;
}

.timeline-menuBtn{
    margin-top:5px;
    margin-left:5px;
}

.timeline-pageBox{
    margin-top:10%;
}

/* 타임라인 자기사진 둥글게 */
.timeline-card-selfPhoto{
    border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    -webkit-border-radius: 7px;
}

#View_area{
    display: inline-block;
}

/* div>.commentBoxsecound {
    background-color: white;
    border: 1px solid #bcbcbc;

} */




